//Fonts
$beigeFont: #FDFFEB;
$beigeLine: #AFB199;
$darkFont: #363636;



//BGS

$darkBg: rgba(54, 54, 54, 0.85);

$beigeBg: #EEEFDD;
$beigeBgDark: #CCCDC0;

$grayBg: #AFB199;
$grayBgDark: #3e3f37;

$pinkBgDark: #731246;
$pinkBgLight: #A3296B;

$redBg: #A32929;





