@import "../../styles/variables";

.projectsWrapper {
  background-color: $pinkBgLight;

  .cus-div {
    width: 100%;
    position: relative;

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: inherit;
      z-index: -1;
      bottom: 0;
      content: "";
    }

    .content {
      padding-inline: 40px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .projectContent {
      display: flex;
      flex-direction: row;

      .projectText {
        font-size: 16px;
        padding: 16px;
        font-weight: 400;
      }

      .left {
        width: 50%;
        position: relative;

        img {
          position: relative;
          margin: 10px;
          border: 10px solid $beigeBg;
          top: -50px;
          width: 100%;
          transform-origin: center center;
          transform: rotate(15deg);
          left: -20px;
          transition: 0.5s ease-in-out;

          &:hover {
            // scale: 1.1;
            top: -70px;
            transform: rotate(360deg);
            left: 0px;

          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: -50px;
      z-index: 1;
      width: 50%;
      position: relative;

      a {
        color: $darkFont;
        border-color: $darkFont;
      }
    }
  }

  #skew0 {
    background: $pinkBgLight;
    background: linear-gradient(
      180deg,
      rgba(115, 18, 70, 1) 0%,
      rgba(163, 41, 107, 1) 26%
    );
    padding-block: 50px;

    .fa-xs {
      font-size: 70%;
      vertical-align: 3px;
    }
    z-index: 6;
  }

  #skew1 {
    background: $beigeBg;
    z-index: 8;
    p {
      color: $darkFont;
    }
  }
  #skew2 {
    background: $grayBg;
    z-index: 10;
    padding-block: 150px;
  }
  #skew3 {
    background: $darkBg;
    z-index: 12;
    padding-block: 150px;
  }

  #skew1::after {
    transform-origin: left bottom;
    z-index: -1;
    transform: skewY(-15deg);
  }
  #skew2::after {
    transform-origin: right bottom;
    transform: skewY(15deg);
  }
  #skew3::after {
    transform-origin: left bottom;
    transform: skewY(-15deg);
  }
  
}
